####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

####################################
# Virtual environments
####################################
venv/
.venv/
env/

####################################
# Testing / coverage
####################################
.pytest_cache/
.coverage
htmlcov/

####################################
# IDE / Editors
####################################
.vscode/
.idea/
*.swp
*.swo

####################################
# Jupyter / notebooks
####################################
.ipynb_checkpoints/

####################################
# Data files (large / raw)
####################################
/data/**
/outputs/**
# Allow documentation only
!/data/README.md
!/outputs/README.md
*.bi5
*.csv
*.parquet
*.h5
*.zip
*.gz

####################################
# Logs / temp
####################################
*.log
*.tmp

####################################
# OS
####################################
.DS_Store
Thumbs.db